[*.cs]

# CS8618: Un campo que no acepta valores NULL debe contener un valor distinto de NULL al salir del constructor. Considere la posibilidad de agregar el modificador "required" o declararlo como un valor que acepta valores NULL.
dotnet_diagnostic.CS8618.severity = silent

# CS8765: La nulabilidad del tipo de parámetro no coincide con el miembro invalidado (posiblemente debido a los atributos de nulabilidad).
dotnet_diagnostic.CS8765.severity = silent
